<div class="recipe" data-category="{{category}}">
  <div class="recipe-contents">
    <div class="recipe-info-container">
      <a class="recipe-title" href='recipe/{{_id}}'>{{name}}</a>
    </div>
    <div class="recipe-info-container">
      <span class="recipe-time">Total Time: {{total_time}}</span>
    </div>
    <div class="recipe-info-container">
      <span class="recipe-category">{{category}}</span>
    </div>
    <div class="recipe-info-container">
      <button type="button" class="action-button recipe-delete">&#10060;</button>
    </div>
  </div>
</div>